# Работа с таблицами

In [1]:
# Создание таблицы использую примитивы Python
ar = [[1, 2], [3, 4]]
ar

[[1, 2], [3, 4]]

In [4]:
for i in range(len(ar)):
    print(ar[i])

[1, 2]
[3, 4]

In [3]:
for i in range(len(ar)):
    for j in range(len(ar[i])):
        print(ar[i][j])

1
2
3
4

# Pandas

In [83]:
# Обращение к системному пакетному менеджеру
# установка модуля pandas, флаг -q - тихая установка  
%pip install -q pandas
import pandas as pd

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [79]:
sr = pd.Series([4, 5, 6.0]) # Создание одномерного массива
sr

0    4.0
1    5.0
2    6.0
dtype: float64

In [76]:
sr.sum() # получение суммы всех элементов, идентично sum(sr)

15.0

In [80]:
sr[0] # получение значения по идентификатору

4.0

# Dataframe

In [73]:
pd.DataFrame([[1, 2, 3], [4, 5, 6]]) # Создание таблицы

   0  1  2
0  1  2  3
1  4  5  6

In [68]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], columns=['id', 'a', 'b']) # Создание таблицы с именами стобцов
df

   id  a  b
0   1  2  3
1   4  5  6

In [23]:
df['id'] # Получение значений столбца

0    1
1    4
Name: id, dtype: int64

In [24]:
df[['id', 'a']] # Получение значений по столбцам

   id  a
0   1  2
1   4  5

In [27]:
df[['id', 'b']].loc[1] # Получение значений по столбцам и строкам

id    4
b     6
Name: 1, dtype: int64

In [28]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], 
                  columns=['id', 'a', 'b'], 
                  index=[4, 5]) # Создание таблицы с другими идентификаторами
df

   id  a  b
4   1  2  3
5   4  5  6

In [29]:
df.loc[4]

id    1
a     2
b     3
Name: 4, dtype: int64

In [34]:
df.info() # Получение информации о таблице

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 4 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2 non-null      int64
 1   a       2 non-null      int64
 2   b       2 non-null      int64
dtypes: int64(3)
memory usage: 172.0 bytes

In [35]:
# Создание таблицы из словарей
df = pd.DataFrame([{'id': 1, 'a': 2, 'b': 3}, {'id': 4, 'a': 5, 'b': 6}])
df

   id  a  b
0   1  2  3
1   4  5  6

In [36]:
# Создание таблицы из словарей с различными ключами, NaN - Not a Number
df = pd.DataFrame([{'id': 1, 'a': 2, 'b': 3}, {'id': 4, 'a': 5, 'c': 6}])
df

   id  a    b    c
0   1  2  3.0  NaN
1   4  5  NaN  6.0

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2 non-null      int64
 1   a       2 non-null      int64
 2   b       1 non-null      float64
 3   c       1 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 192.0 bytes

In [40]:
df.rename({'a': 'f'}, axis=1) # Переименование столбца

   id  f    b    c
0   1  2  3.0  NaN
1   4  5  NaN  6.0

In [42]:
df.rename({0: 'a'}, axis=0) # Переименование индекса

   id  a    b    c
a   1  2  3.0  NaN
1   4  5  NaN  6.0

In [84]:
df = pd.DataFrame([[1, 1, 3], [1, 2, 4], [2, 1, 5]], 
                  columns=['id', 'a', 'b'])
df

   id  a  b
0   1  1  3
1   1  2  4
2   2  1  5

In [86]:
df.set_index('id') # Использование столбца как идентификатор

    a  b
id
1   1  3
1   2  4
2   1  5

In [88]:
df.set_index(['id', 'a']) # Использование композитного идентификатора

      b
id a
1  1  3
   2  4
2  1  5